body.fit-modal-open {
  overflow:hidden;
}
.fit-calculator * {
  box-sizing: border-box;
}

.fit-calculator.modal-mode {
  position:relative;
  z-index:10000000000;
}

.fit-calculator .fit-calculator-container {
  background:#fff;
  max-width:600px;
  margin:0 auto;
}

.fit-calculator .positiveMessage {
  text-align:center;
  font-weight:bold;
  margin:1rem;
}