.fit-calculator .recommendations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


@media (max-width: 600px) {

  .fit-calculator .product {
    width: 150px;
  }
  
  .fit-calculator .product img {
    max-width:100%;
  }

}

.fit-calculator .product {
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
}

