* {
  box-sizing: border-box;
}
.formField {
  padding:0.5rem 0;
}
.formLabel {
  font-weight:600;
  margin-bottom:0.25rem;
}
.formField input:not([type="checkbox"]) {
  padding:12px 0 12px 20px;
  width:100%;
}