.fit-calculator * {
  box-sizing: border-box;
}

.fit-calculator {
  max-width: 600px;
  margin: 0 auto;
  position:relative;
  z-index:1000000;
}

.fit-calculator .formField {
  padding: 0.5rem 0;
}

.fit-calculator .formLabel {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.fit-calculator .formField input:not([type="checkbox"]) {
  width: 100%;
}

.fit-calculator input[type=number]::-webkit-inner-spin-button,
.fit-calculator input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
  height: 40px;
  -webkit-appearance: auto;
}

.fit-calculator .recommendations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fit-calculator .product {
  width: 200px;
}

.fit-calculator .fit-calculator-container {
  background:#fff;

}

.fit-calculator .fit-calculator-container.modal {
  position:fixed;
  top:1rem;
  left:1rem;
  right:1rem;
  max-width:600px;
  margin:0 auto;
  border-radius:1rem;
  max-height:calc(100vh - 2rem);
  padding:1rem;
  display:none;
  opacity:0;
  transition:opacity 0.3s ease-in-out;
  overflow: auto;
  z-index:2;
}

.fit-calculator .fit-calculator-container.modal.open {
  display:block;
  opacity:1;
}

.fit-calculator .modal__overlay {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,0.5);
  z-index:1
}

.fit-calculator .modal-header {
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:1rem;
}

.fit-calculator .modal-header h2 {
  margin:0;
}

.fit-calculator .modal-header button {
  border:none;
  background:none;
  font-size:1.5rem;
  cursor:pointer;
  padding:0;
}

.fit-calculator .modal-footer {
  padding-top:2rem;
}